@mixin main-blocks ($number) {
    display: grid;
    grid-area: $number;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, .5);
    text-align: center;
    transition: transform 1s ease;
        &:hover {
            transform: scale(1.1);
        }

        .main-images {
            overflow: hidden;
        }
        h3 {
            color: $blueColor;
            font-size: 25px;
            font-weight: 600;
            line-height: 30px;
            margin: 15px 5px;
        } 
        p {
            color: $kelioniuBlack;
            font-size: 16px;
            line-height: 20px;
            margin: 10px 5px;
        }}

.first-grid {
    display: grid;
    grid-template-areas: 
    " . blocks . "
    " whywe whywe whywe "
    " . testimonials . "
    " . experience . "
    " . service . "
    " contacts contacts contacts ";
    grid-template-columns: 1fr 1100px 1fr;

    main {
        display: grid;
        grid-area: blocks;
        grid-template-areas: 
        " block1 . block2 . block3 ";
        grid-template-columns: 1fr 40px 1fr 40px 1fr;
        margin: 50px 0;

            .block1 {
                @include main-blocks(block1);
            }
            .block2 {
                @include main-blocks(block2);
            }
            .block3 {
                @include main-blocks(block3);
            }
    }

@mixin whyWeBlocks ($area) {
        display: grid;
        grid-area: $area;
        text-align: center;
        margin-top: 15px;
        .fa {
            color: #fff;
            font-size: 60px;
        }
        .clientsTxt {
            color: #fff;
            font-size: 24px;
        }
        .clientsNumber {
            color: #fff;
            font-size: 60px;
            font-weight: 600;
            line-height: 50px;
            margin-bottom: 30px;
        }
    }

    .whyWe {
        display: grid;
        grid-area: whywe;
        grid-template-areas:
        "whyhead whyhead whyhead whyhead whyhead"
        ". clients case money .";
        grid-template-columns: 1fr 20% 20% 20% 1fr;
        background-color: $blueColor;
        padding: 30px 0;

            .whyWeHead {
                display: grid;
                grid-area: whyhead;
                font-size: 35px;
                text-align: center;
                font-weight: 600;
                color: #fff;
            }
            .whyWeClients {
                @include whyWeBlocks (clients);           
            }
            .suitcase {
                @include whyWeBlocks (case);
            }
            .money {
                @include whyWeBlocks (money);
            }
        }

    .testimonials {
        display: grid;
        grid-area: testimonials;
        margin: 35px 0;

        .testimonial-head {
            display: inline-block;
            width: 100%;
            color: $blueColor;
            font-size: 35px;
            font-weight: 600;
            text-align: center;
            margin: 35px 0;
        }
        .testimonial-block {
            display: inline-block;
            width: 800px;
            margin: 20px calc( 50% - 400px );
            text-align: center;

                .testimonial-box {
                    display: inline-block;
                    grid-area: box;
                    background-color: #fff;
                    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    position: relative;
                    text-align: left;
                    min-height: 350px;
                        
                    .box-photo {
                            display: inline-block;
                            height: 100px;
                            width: 100px;
                            border-radius: 50%;
                            color: #fff;
                            background-image: url(../img/Testimonials/IevaSabiene.jpg);
                            background-size: cover;
                            background-position: bottom center;
                            margin-left: 30px;
                            top: -50px;
                            left: 0;
                            position: absolute;
                            
                        }
                        .box-quotes {
                            display: inline-block;
                            top: -30px;
                            right: -10px;
                            font-size: 160px;
                            color: #dfdfdf;
                            position: absolute;
                            
                        }

                        .box-stars {
                            display: inline-block;
                            width: 100%;
                            margin-left: 30px;
                            margin-top: 70px;
                            color: $yellowColor;
                            
                        }
                        .box-name {
                            display: inline-block;
                            width: 100%;
                            margin-left: 30px;
                            
                                h5 {
                                    font-size: 20px;
                                    font-weight: 400;
                                }
                                h6 {
                                    font-size: 15px;
                                    font-weight: 200;
                                    font-style: italic;
                                }
                                .testimonial-text {
                                    color: gray;
                                    padding: 30px 50px;

                                }
                        }
                        
                }
            .testim-arrows {
                display: inline-block;
                width: 100%;
                text-align: center;
                font-size: 28px;
                line-height: 30px;
                margin: 30px 0;
                cursor: pointer;
                color: white;
                 .fa {
                     background-color: $blueColor;
                     padding: 10px 13px;
                     border-radius: 50%;
                 }


            }        
        }

    }
    .experience {
        display: grid;
        grid-area: experience;
    }
    .service {
        display: grid;
        grid-area: service;
    } 
    footer {
        display: grid;
        grid-area: contacts;
    }
}