@mixin headersLinks ($gridArea) {
    display: grid;
    grid-area: $gridArea;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    color: $kelioniuBlack;
    text-align: center;
    float: right;
    transition: color 1s ease;
    }


header {
    display: grid;
    grid-area: heads;
    grid-template-areas: 
    " img . links . ";
    grid-template-columns: 20% 40% 30% 10%;
    grid-template-rows: 60px;
    background-color: $yellowColor;

        img {
            display: grid;
            grid-area: img;
            height: 40px;
            align-self: center;
            padding-left: 60px;
        }
        .links {
            display: grid;
            grid-area: links;
            align-self: center;
            grid-template-areas: 
            " apie atsiliepimai patirtis kontaktai";
            
                .apie {
                    @include headersLinks(apie);
                }
                .atsiliepimai {
                    @include headersLinks(atsiliepimai);
                }
                .patirtis {
                    @include headersLinks(patirtis);
                }
                .kontaktai {
                    @include headersLinks(kontaktai);
                }
                *:hover {
                    color: white;
                }
        }
}

.hero {
    display: grid;
    grid-area: hero;
}

main {
    display: grid;
    grid-area: blocks;
}

.about {
    display: grid;
    grid-area: about;

}

.testimonials {
    display: grid;
    grid-area: testimonials;

}

.experience {
    display: grid;
    grid-area: experience;

}

.service {
    display: grid;
    grid-area:service;

}

footer {
    display: grid;
    grid-area: contacts;

}