.first-grid {
    display: grid;
    grid-template-areas: 
    " . blocks . "
    " . about . "
    " . testimonials . "
    " . experience . "
    " . service . "
    " contacts contacts contacts ";
    grid-template-columns: 1fr 1200px 1fr;

    main {
        display: grid;
        grid-area: blocks;
    }
    .about {
        display: grid;
        grid-area: about;
    }
    .testimonials {
        display: grid;
        grid-area: testimonials;
    }
    .experience {
        display: grid;
        grid-area: experience;
    }
    .service {
        display: grid;
        grid-area: service;
    } 
    footer {
        display: grid;
        grid-area: contacts;
    }
}