body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Saira', sans-serif;
}

body {
  display: -ms-grid;
  display: grid;
      grid-template-areas: " heads heads heads " " hero hero hero" " . blocks . " " . about . " " . testimonials . " " . experience . " " . service . " " contacts contacts contacts ";
  -ms-grid-columns: 1fr 1200px 1fr;
      grid-template-columns: 1fr 1200px 1fr;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: heads;
      grid-template-areas: " img . links . ";
  -ms-grid-columns: 20% 40% 30% 10%;
      grid-template-columns: 20% 40% 30% 10%;
  -ms-grid-rows: 60px;
      grid-template-rows: 60px;
  background-color: #f6b501;
}

header img {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img;
  height: 40px;
  -ms-grid-row-align: center;
      align-self: center;
  padding-left: 60px;
}

header .links {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: links;
  -ms-grid-row-align: center;
      align-self: center;
      grid-template-areas: " apie atsiliepimai patirtis kontaktai";
}

header .links .apie {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: apie;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  color: #1d1d1d;
  text-align: center;
  float: right;
  -webkit-transition: color 1s ease;
  transition: color 1s ease;
}

header .links .atsiliepimai {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: atsiliepimai;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  color: #1d1d1d;
  text-align: center;
  float: right;
  -webkit-transition: color 1s ease;
  transition: color 1s ease;
}

header .links .patirtis {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: patirtis;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  color: #1d1d1d;
  text-align: center;
  float: right;
  -webkit-transition: color 1s ease;
  transition: color 1s ease;
}

header .links .kontaktai {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: kontaktai;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  color: #1d1d1d;
  text-align: center;
  float: right;
  -webkit-transition: color 1s ease;
  transition: color 1s ease;
}

header .links *:hover {
  color: white;
}

.hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: hero;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: blocks;
}

.about {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: about;
}

.testimonials {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: testimonials;
}

.experience {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 6;
  -ms-grid-column: 2;
  grid-area: experience;
}

.service {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 7;
  -ms-grid-column: 2;
  grid-area: service;
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: contacts;
}
/*# sourceMappingURL=main.css.map */