body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Saira', sans-serif;
}

.first-grid {
  display: -ms-grid;
  display: grid;
      grid-template-areas: " . blocks . " " . about . " " . testimonials . " " . experience . " " . service . " " contacts contacts contacts ";
  -ms-grid-columns: 1fr 1100px 1fr;
      grid-template-columns: 1fr 1100px 1fr;
}

.first-grid main {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: blocks;
      grid-template-areas: " block1 . block2 . block3 ";
  -ms-grid-columns: 1fr 40px 1fr 40px 1fr;
      grid-template-columns: 1fr 40px 1fr 40px 1fr;
  margin: 50px 0;
}

.first-grid main .block1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: block1;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.first-grid main .block1:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.first-grid main .block1 .main-images {
  overflow: hidden;
}

.first-grid main .block1 h3 {
  color: #f6b501;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  margin: 15px 5px;
}

.first-grid main .block1 p {
  color: #1d1d1d;
  font-size: 16px;
  line-height: 20px;
  margin: 10px 5px;
}

.first-grid main .block2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: block2;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.first-grid main .block2:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.first-grid main .block2 .main-images {
  overflow: hidden;
}

.first-grid main .block2 h3 {
  color: #f6b501;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  margin: 15px 5px;
}

.first-grid main .block2 p {
  color: #1d1d1d;
  font-size: 16px;
  line-height: 20px;
  margin: 10px 5px;
}

.first-grid main .block3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: block3;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.first-grid main .block3:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.first-grid main .block3 .main-images {
  overflow: hidden;
}

.first-grid main .block3 h3 {
  color: #f6b501;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  margin: 15px 5px;
}

.first-grid main .block3 p {
  color: #1d1d1d;
  font-size: 16px;
  line-height: 20px;
  margin: 10px 5px;
}

.first-grid .about {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: about;
}

.first-grid .testimonials {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: testimonials;
}

.first-grid .experience {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: experience;
}

.first-grid .service {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: service;
}

.first-grid footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: contacts;
}

.btn {
  background-color: #f6b501;
  color: #1d1d1d;
  margin: 30px 80px;
  padding: 10px 30px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: background-color, -webkit-box-shadow 0.7s;
  transition: background-color, -webkit-box-shadow 0.7s;
  transition: background-color, box-shadow 0.7s;
  transition: background-color, box-shadow 0.7s, -webkit-box-shadow 0.7s;
  cursor: pointer;
}

.btn:hover {
  background-color: #000;
  color: #f6b501;
  -webkit-box-shadow: 5px 5px 10px #rgba 0, 0, 0, 0.5;
          box-shadow: 5px 5px 10px #rgba 0, 0, 0, 0.5;
}

header {
  display: inline-block;
  width: 100%;
  position: fixed;
  height: 70px;
  z-index: 9;
}

header img {
  display: inline-block;
  height: 40px;
  margin: 15px 60px;
  top: 0;
  left: 0;
  right: 0;
}

header nav {
  display: inline-block;
  float: right;
  margin-right: 60px;
  margin-top: 25px;
}

header nav .headers-links {
  margin-right: 20px;
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  color: #f6b501;
  -webkit-transition: color .5s ease;
  transition: color .5s ease;
  position: relative;
}

header nav .headers-links::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
  top: 100%;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

header nav .headers-links:hover {
  color: white;
}

header nav .headers-links:hover:hover:after {
  opacity: 1;
}

.sticky {
  background-color: #f6b501;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.sticky img {
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.6);
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.6);
}

.sticky .headers-links {
  color: #1d1d1d;
}

.hero {
  display: inline-block;
  width: 100%;
  text-align: center;
  z-index: 0;
  background-image: url(../img/hero.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}

.hero h2 {
  display: inline-block;
  width: 70%;
  color: #f6b501;
  font-size: 40px;
  padding-top: 200px;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.8);
}

.hero h1 {
  display: inline-block;
  width: 70%;
  color: #f6b501;
  font-size: 60px;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.8);
}

.hero .arrows {
  display: inline-block;
  width: 100%;
  margin-top: 150px;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.8);
}

.hero .arrows a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: #f6b501;
  font-size: 50px;
}

.hero .arrows .arrow1 {
  -webkit-animation-name: opacity3;
          animation-name: opacity3;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes opacity1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: .2;
  }
  20% {
    opacity: .4;
  }
  30% {
    opacity: .6;
  }
  40% {
    opacity: .8;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: .2;
  }
  20% {
    opacity: .4;
  }
  30% {
    opacity: .6;
  }
  40% {
    opacity: .8;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.hero .arrows .arrow2 {
  -webkit-animation-name: opacity2;
          animation-name: opacity2;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes opacity2 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: .2;
  }
  40% {
    opacity: .4;
  }
  50% {
    opacity: .6;
  }
  60% {
    opacity: .8;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity2 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: .2;
  }
  40% {
    opacity: .4;
  }
  50% {
    opacity: .6;
  }
  60% {
    opacity: .8;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.hero .arrows .arrow3 {
  -webkit-animation-name: opacity1;
          animation-name: opacity1;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes opacity3 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: .2;
  }
  60% {
    opacity: .4;
  }
  70% {
    opacity: .6;
  }
  80% {
    opacity: .8;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity3 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: .2;
  }
  60% {
    opacity: .4;
  }
  70% {
    opacity: .6;
  }
  80% {
    opacity: .8;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */